{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/answer.css') }}" crossorigin="anonymous">

<div class="main-wrapper">
    <h2>Round: <b>{{ round_number }}</b></h2>
    <p>{{ message }}</p>

    <div class="answer-info-wrapper">
        <p>Correct genre: {{ genre }}</p>
        <p>Your guess: {{ guess }}</p>
        <p>+{{ points }} points!</p>
    </div>

    <div class="artist-info-wrapper">
        <div class="answer-info-wrapper">
            <p>Artist: {{ artist }}</p>
            <a href="{{ spotify_link }}" target="_blank" class="game-button discover-button">Discover the artist</a>
        </div>
    </div>

    {% if not end %}
    <form method="POST" action="{{ url_for('guess') }}">
        <input class="game-button" type="submit" name="submit_button" value="next round" />
    </form>
    {% endif %} {% if end %}
    <form class="submit-score-form" method="POST" action="{{ url_for('submit_score') }}">
        <input type="text" name="name" placeholder="name.." required/>
        <input class="game-button" type="submit" name="submit_score" value="submit_score" />
    </form>
    {% endif %}

</div>


{% endblock content %}