{% extends "layout.html" %}
{% block content %}

<div class="menu-wrapper">

  <form method="GET" action="#">
    <div class="menu-item-wrapper">
      <button class="coming-soon" data-text="🚧 coming soon!" id="survival_button" name="survival_button">SURVIVAL</button>
    </div>
  </form>

  <form method="POST" action="{{ url_for('create_game') }}">
    <div class="menu-item-wrapper start-button">
      <button type="submit" id="submit_button" name="submit_button">START GAME</button>
    </div>
  </form>

  <form method="GET" action="#">
    <div class="menu-item-wrapper">
      <button class="coming-soon" data-text="🚧 coming soon!" id="party_button" name="party_button">PARTY</button>
    </div>
  </form>

</div>
<script src="{{ url_for('static', filename='js/checkbox_handler.js') }}" crossorigin="anonymous"></script>

{% endblock content %}