$primary: #0073ff;
$primary-light1: lighten($primary, 5%);
$primary-light1: lighten($primary, 10%);


$accent: #tomato;
$text-main: #3a3a3a;
$border-color: $primary;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
