.answer-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 25px; */
    margin: auto;
    width: 75%;
    background-color: rgba(51, 51, 51, 0.25);
    color: #fff;
    border-radius: 0.5rem;
    border: #333;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 25px;
}

.answer-info-wrapper p {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.artist-info-wrapper {
    width: 50%;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-score-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    width: 50%;
    margin: auto;
}

.submit-score-form input[type="text"] {
    flex: 1;
    padding: 0.5em;
    font-size: 1.25em;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
}

.submit-score-form input[type="submit"] {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .answer-info-wrapper,
    .artist-info-wrapper,
    .submit-score-form {
        width: 90%;
        flex-direction: column;
        align-items: center;
        /* center align items for better visual alignment on mobile */
    }
    .answer-info-wrapper p,
    .artist-info-wrapper p {
        margin-left: 5%;
        /* reduced the margins slightly for a better fit on small screens */
        margin-right: 5%;
    }
    .submit-score-form input[type="text"],
    .submit-score-form input[type="submit"] {
        width: 100%;
        margin-bottom: 0.5em;
        /* space between the items when they stack */
    }
}

.discover-button {
    text-decoration: none;
    text-align: center;
    padding: 0.4em;
    font-size: 80%;
}