.guess-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;


    input[type="text"] {
      flex: 1;
      padding: 0.5em;
      font-size: 1.25em;
      border: none;
      background-color: transparent;
      color: inherit;

      &:focus, input:focus{
        outline: none;
    }
    
    }
  
    input[type="submit"] {
      padding: 0.5em 1em;
      font-size: 1em;
      background-color: #fff;
      color: #333;
      border: none;
      cursor: pointer;
    }
  
}