{% extends "layout.html" %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/party.css') }}" crossorigin="anonymous">

<div class="main-wrapper">

    <form class="party-form" method="POST" action="{{ url_for('create_party') }}">
        <p>Send this party code to your friends!</p>
        <input type="text" id="party_code" name="party_code" value="{{ party_code }}" readonly>
        <div class="menu-item-wrapper create-party-button">
            {% if is_host %}
                <button type="submit" id="submit_button" name="submit_button">START GAME</button>
            {% else %}
                <button type="button" id="waiting_button" disabled>waiting for host</button>
            {% endif %}
        </div>
    </form>

    <div class="party-form">
        <div class="player-slot enter-name">
            <input type="text" class="player-name-input" placeholder="Enter nickname">
            <button class="ready-toggle-button">Not Ready</button>
        </div>
    </div>
    
    <div class="player-slots-container party-form">
        {% for i in range(user_limit) %}
        <div class="player-slot {% if loop.first %}self{% else %}empty{% endif %}">
            <input type="text" class="player-name" placeholder="player {{ i+1 }}" readonly>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock content %}
