{% extends "layout.html" %}
{% block content %}

    <h2>Answer</h2>
    <h4>Round: <b>{{ round_number }}</b></h4>

    <div>
        <p>{{ message }}</p>
        <p>Correct genre: {{ genre }}</p>
        <p>Your guess: {{ guess }}</p>
        <p>+{{ points }} points!</p>
    </div>

    <div>
        <p>Artist: {{ artist }}</p>
        <a href="{{ spotify_link }}" target="_blank">Discover the artist</a>
    </div>

    {% if not end %}
    <form method="POST" action="{{ url_for('guess') }}">
      <input type="submit" name="submit_button" value="next round"/>
    </form>
    {% endif %}

    {% if end %}
    <form method="POST" action="{{ url_for('submit_score') }}">
      <input type="text" name="name" placeholder="name.." required/>
      <input type="submit" name="submit_score" value="submit_score"/>
    </form>

    {% endif %}



{% endblock content %}