{% extends "layout.html" %}
{% block content %}

    <h2>Game started</h2>
    <p>Round: <b>{{ round_number }}</b></p>
    <p>Points: <b>{{ points_total }}</b></p>

    <div>
        <div>
            <img id="player-button" src="{{ url_for('static', filename='images/play.png') }}" onclick="audioHandler()">
        </div>
        <a href="{{ artist_url }}" target="_blank">Click here to listen</a>
        <br>
        <br>
        <form method="POST" action="{{ url_for('genre_guesser') }}">
            <input type="text" id="genre_guess" name="genre_guess" placeholder="guess the genre..">
            <input type="submit" name="submit_button" value="guess"/>
        </form>
    </div>

<div hidden id="audioSelector" data-artistUrl="{{ artist_url }}"></div>
<script src="{{ url_for('static', filename='js/player.js') }}" crossorigin="anonymous"></script>

{% endblock content %}