{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/guess.css') }}" crossorigin="anonymous">

<div class="guess-info-wrapper">
    <p>Round: <b>{{ round_number }} / {{ round_type }}</b></p>
    <p>Points: <b>{{ points_total }}</b></p>
    <p>Total words: <b>{{ total_words }}</b></p>
</div>

<div>
    <div class="audio-button-wrapper">
        <img class="audio-button" id="player-button" src="{{ url_for('static', filename='images/play.png') }}" onclick="audioHandler()">
    </div>

    <div class="volume-slider-wrapper">
        <input type="range" id="volume-slider" class="slider">
    </div>

    <br>
    <form class="guess-form" method="POST" action="{{ url_for('answer') }}">
        <input type="text" id="genre_guess" name="genre_guess" placeholder="guess the genre..">
        <input class="game-button" type="submit" name="submit_button" value="skip"/>
    </form>
</div>

<canvas id="visualizer"></canvas>

<div hidden id="audioSelector" data-artistUrl="{{ artist_url }}"></div>
<script src="{{ url_for('static', filename='js/player.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/skip_handler.js') }}" crossorigin="anonymous"></script>

{% endblock content %}