{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Leaderboard.css') }}" crossorigin="anonymous">

    <h2>Leaderboards</h2>
 <form method="GET" action="{{ url_for('index') }}">
  <button type="submit" id="submit_button" name="submit_button">play again?</button>
</form>

{% for round_type in round_type_data %}
    <h2>{{ round_type.round_type }} Rounds</h2>
    <div id={{ round_type.round_type }}>
    <ul>
    {% for row in round_type.data %}
        <li># {{loop.index}} {{ row.name }} | Score: {{ row.score }} |<a href="{{ url_for('match_details', player_id=row.id) }}">details</a></li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}

{% endblock content %}