{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboard.css') }}" crossorigin="anonymous">

<div class="main-wrapper">
    <h2>Leaderboards</h2>
    <form method="GET" action="{{ url_for('index') }}">
        <button type="submit" id="submit_button" name="submit_button">play again?</button>
    </form>

    <div class="scores" id={{ "5" }}>
        <ul>
            {% for row in main_high_scores %}
            <li># {{loop.index}} {{ row.name }} | Score: {{ row.score }} <a href="{{ url_for('match_details', player_id=row.id) }}" class="game-button">details</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}