@font-face {
  font-family: caviar;
  src: url(../css/fonts/caviar_dreams/CaviarDreams_Bold.ttf); }

html {
  font-size: 16px; }

body {
  color: #3a3a3a;
  font-family: caviar; }

.bordered {
  border: solid 1px #0073ff !important; }

button {
  background-color: white;
  border: 2px solid #0073ff;
  padding: 1em 3em;
  font-weight: bold;
  font-size: 1em;
  position: relative;
  color: #0073ff; }
  button:after {
    content: '';
    position: absolute;
    background-color: #338fff;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1; }

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  border-radius: 0.5rem; }
  header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    flex-grow: 1; }
  header .icon-container {
    margin-left: 2rem;
    text-align: right;
    padding: 0.5em; }

form label {
  font-size: 1.5em; }

form input[type="checkbox"] {
  margin-right: 0.5em;
  flex-direction: row;
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2); }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem; }
    ul li:nth-child(1) {
      background-color: #f44336; }
    ul li:nth-child(2) {
      background-color: #ff9800; }
    ul li:nth-child(3) {
      background-color: #ffeb3b; }
    ul li:nth-child(n+4) {
      background-color: #9e9e9e; }

.guess-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff; }
  .guess-form input[type="text"] {
    flex: 1;
    padding: 0.5em;
    font-size: 1.25em;
    border: none;
    background-color: transparent;
    color: inherit; }
    .guess-form input[type="text"]:focus, .guess-form input[type="text"] input:focus {
      outline: none; }
  .guess-form input[type="submit"] {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer; }
